In [4]:
import pandas as pd

data = pd.read_excel("solardataset.xlsx")
print(data.head())

        Date  Temp (Â°C)  Cloud (%)  Wind (m/s)    kWh
0 2025-05-01        32.5         73         2.2  16.84
1 2025-05-02        30.6         65         2.3  17.87
2 2025-05-03        32.9         52         1.6  19.25
3 2025-05-04        35.6         23         2.5  21.83
4 2025-05-05        30.3          8         2.3  23.52

In [5]:
data.columns = ['Date', 'Temp', 'Cloud', 'Wind', 'kWh']

In [6]:
print(data.isnull().sum())

Date     0
Temp     0
Cloud    0
Wind     0
kWh      0
dtype: int64

In [7]:
data = data.dropna()  # or fill with mean if minor

In [11]:
data['Date'] = pd.to_datetime(data['Date'])

In [13]:
print(data.columns)
print(data.head())

Index(['Date', 'Temp', 'Cloud', 'Wind', 'kWh'], dtype='object')
        Date  Temp  Cloud  Wind    kWh
0 2025-05-01  32.5     73   2.2  16.84
1 2025-05-02  30.6     65   2.3  17.87
2 2025-05-03  32.9     52   1.6  19.25
3 2025-05-04  35.6     23   2.5  21.83
4 2025-05-05  30.3      8   2.3  23.52

In [14]:
print(data['Date'].head())

0   2025-05-01
1   2025-05-02
2   2025-05-03
3   2025-05-04
4   2025-05-05
Name: Date, dtype: datetime64[ns]

In [15]:
data['Date'] = pd.to_datetime(data['Date'])

In [16]:
data['Month'] = data['Date'].dt.month
data['DayOfYear'] = data['Date'].dt.dayofyear

In [17]:
print(data[['Date','Month','DayOfYear']].head())

        Date  Month  DayOfYear
0 2025-05-01      5        121
1 2025-05-02      5        122
2 2025-05-03      5        123
3 2025-05-04      5        124
4 2025-05-05      5        125

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = data[['Temp', 'Cloud', 'Wind', 'Month', 'DayOfYear']]
X_scaled = scaler.fit_transform(X)

In [19]:
print(data['Date'].head())
print(data.columns)

0   2025-05-01
1   2025-05-02
2   2025-05-03
3   2025-05-04
4   2025-05-05
Name: Date, dtype: datetime64[ns]
Index(['Date', 'Temp', 'Cloud', 'Wind', 'kWh', 'Month', 'DayOfYear'], dtype='object')

In [28]:
print(data.head())

        Date  Temp  Cloud  Wind    kWh  Month  DayOfYear
0 2025-05-01  32.5     73   2.2  16.84      5        121
1 2025-05-02  30.6     65   2.3  17.87      5        122
2 2025-05-03  32.9     52   1.6  19.25      5        123
3 2025-05-04  35.6     23   2.5  21.83      5        124
4 2025-05-05  30.3      8   2.3  23.52      5        125

In [29]:
data

          Date  Temp  Cloud  Wind    kWh  Month  DayOfYear
0   2025-05-01  32.5     73   2.2  16.84      5        121
1   2025-05-02  30.6     65   2.3  17.87      5        122
2   2025-05-03  32.9     52   1.6  19.25      5        123
3   2025-05-04  35.6     23   2.5  21.83      5        124
4   2025-05-05  30.3      8   2.3  23.52      5        125
..         ...   ...    ...   ...    ...    ...        ...
179 2025-10-27  39.2     79   0.5  16.12     10        300
180 2025-10-28  31.9     52   1.6  18.60     10        301
181 2025-10-29  29.8     79   2.2  13.68     10        302
182 2025-10-30  32.2     28   2.5  21.35     10        303
183 2025-10-31  30.2     26   1.7  21.04     10        304

[184 rows x 7 columns]